@import "../_variables.css";

*,
::after,
::before,
::backdrop {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
    
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: .8rem;
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  margin: 3rem auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-shadow: 1px 2px 3px var(--header-text-shadow);
}

a {
  color: var(--text-color);
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}
a:focus,
a:hover,
a:visited {
  color: var(--text-color);
  text-decoration: none;
}

#table-of-contents ul {
  display: flex;
  list-style: none;
  justify-self: center;
  gap: 1rem;
}

.content {
  background: var(--content-bg-color);
  color: var(--content-text-color);
  padding: 1.5rem;
  max-width: 56ch;
  margin: 3rem auto 1rem;
}

.content a {
  color: var(--content-text-color);
}

.content h2:not(:first-of-type) {
  margin: 2rem 0 0;
}

.content p,
.content ul {
  max-width: 65ch;
  margin: 15px auto;
}

.content ul,
.content ol {
  margin-inline-start: 21px;
}

code {
  font-family: monospace;
  font-size: .8rem;
  background: var(--code-bg-color);
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  color: var(--code-text-color);
  padding-inline: 5px;
  margin-inline: 5px;
}

pre {
  white-space: pre;
  font-family: monospace;
  color: var(--pre-text-color);
  background: var(--pre-bg-color);
  border: 1px solid var(--pre-border-color);
  border-radius: 3px;
  padding: 10px;
  max-width: 65ch;
}

pre code {
  background: inherit;
  color: inherit;
  border-radius: inherit;
}

.footer {
  font-size: .9rem;
  text-align: center;
  padding: 20px;
}

@media (min-width: 640px) {
  body {
    font-size: 1rem;
  }

  h1 {
    font-size: 5rem;
  }

  .content {
    border-radius: 5px;
    padding: 2rem 2rem 4rem;
  }
}
