{{- $dict := dict "config" "assets/css/debug-bar/postcss.config.js" }}
{{- with resources.Get "css/debug-bar/styles.css" }}
    {{- $styles := . | postCSS $dict }}
	<link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{- end }}

{{- with resources.Get "css/debug-bar/debugprint.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}">
{{- end }}

{{- with resources.Get "css/fontawesome.css" }}
  {{- $fa := . | toCSS (dict "targetPath" "css/debug-bar/fontawesome.css") | postCSS $dict }}
	<link rel="stylesheet" href="{{ $fa.RelPermalink }}">
{{- end }}

<div class="dbb">
  {{- partial "debug-bar/home-link.html" . -}}

  <div class="dbb-parts">
    {{- partial "debug-bar/parts/env.html" . -}}
    {{- partial "debug-bar/parts/site-params.html" . -}}
    {{- partial "debug-bar/parts/page.html" . -}}
    {{- partial "debug-bar/parts/sitemap.html" . -}}
  </div>

  {{- partial "debug-bar/btn-close.html" . -}}
</div>

{{- partial "debug-bar/scripts.html" . -}}
