/* === Global Reset & Base === */
*,
:after,
:before,
::backdrop {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

/* latin-ext */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url({{ "fonts/pressstart2p/e3t4euO8T-267oIAQAu6jDQyK3nbivNm4I81PZQ.woff2" | absURL }}) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url({{ "fonts/pressstart2p/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2" | absURL }}) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --border-width: 3px;
}

/* === Global Styles === */
body {
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  line-height: 2;
  background: black;
  color: #fafafa;
  overflow-x: hidden;
  background-image: repeating-linear-gradient(22.5deg, transparent, transparent 2px, rgba(75, 85, 99, 0.06) 2px, rgba(75, 85, 99, 0.06) 3px, transparent 3px, transparent 8px),
    repeating-linear-gradient(67.5deg, transparent, transparent 2px, rgba(107, 114, 128, 0.05) 2px, rgba(107, 114, 128, 0.05) 3px, transparent 3px, transparent 8px),
    repeating-linear-gradient(112.5deg, transparent, transparent 2px, rgba(55, 65, 81, 0.04) 2px, rgba(55, 65, 81, 0.04) 3px, transparent 3px, transparent 8px),
    repeating-linear-gradient(157.5deg, transparent, transparent 2px, rgba(31, 41, 55, 0.03) 2px, rgba(31, 41, 55, 0.03) 3px, transparent 3px, transparent 8px);
}

.section:not(:first-of-type) {
  margin-block: 5rem;
}

.section,
.site-footer {
  padding: 1.5rem;
  margin-inline: auto;
}

h1,
h2,
h3,
a,
main,
section {
  scroll-margin-block-start: 140px;
}

a:not(.skip-link):not(.btn) {
  color: #fafafa;
  text-decoration: none;
  padding-block-end: .5rem;
  border-bottom: var(--border-width) dashed #ffffff;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

/* === Buttons === */
button, .btn {
  appearance: none;
  font-family: 'Press Start 2P', cursive;
  font-size: .9rem;
  transition: all 0.25s ease;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1.5em;
  transition: all 0.35s ease;
  cursor: pointer;
  border-radius: 3px;
  margin: 2rem 0;
  border: var(--border-width) dashed #00ffcc;
  background-color: transparent;
  color: #00ffcc;
  text-decoration: none;
}

button:hover,
.btn:hover {
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

a:hover {
  color: #00ffcc;
  border-color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

.disabled {
  opacity: .5;
}

.skip-link {
  z-index: 10000;
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  font-size: .8rem;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.triangle {
  margin-inline: 2px;
  font-size: .7rem;
  display: inline-block;
  vertical-align: middle;
}

.reverse {
  transform: rotate(180deg);
}

.triangle.reverse {
  vertical-align: super;
  margin-inline: 3px;
}

/* === Hero Section === */
.site-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100vh;
}

.site-header a {
  text-decoration:none;
  font-size:0.8rem;
}

h1 {
  font-size: clamp(2rem, 4vw, 2rem);
  line-height: 1.6;
  color: #00ffcc;
  text-align: center;
  text-wrap: balance;
  padding-inline: 1.5rem;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  animation: flicker 2s infinite;
}

h2 {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
  animation: flicker 2s infinite;
  line-height: 1.6;
  color: #00ffcc;
  margin-block-end: 1.5rem;
}

h3 {
  font-size: clamp(1.1rem, 1.5vw, 1.25rem);
  line-height: 1.6;
  color: #fafafa;
}

p, li {
  font-size: clamp(0.95rem, 1.1vw, 1.05rem);
}

p {
  margin-top: 20px;
}

img {
  display: block;
  max-width: 100%;
}

/* === Sections === */
.section-item {
  border-radius: 3px;
  border: var(--border-width) solid #00ffcc;
  box-shadow: 0 0 10px #00ffcc55;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section-item:hover {
  box-shadow: 0 0 20px #00ffcc;
}

.service-box {
  padding: 1.5rem;
  min-height: 100%;
}

.service-box,
.testimonials-item {
  padding: 1rem;
  border-block-start: var(--border-width) dashed #ffffff;
}

.services,
.testimonials,
.portfolio {
  display: grid;
  gap: 20px;
}

.metrics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 40px 0;
}

.metrics-item {
  text-align: center;
}

.metrics-item:hover {
  transform: translateY(-15px);
}

.portfolio {
  display: grid;
  gap: 20px;
  margin: 0 auto;
}

.portfolio-item {
  padding: 0;
}

.portfolio-item img {
  max-height: 250px;
}

.portfolio-item:hover .portfolio-caption {
  color: #00ffcc;
  text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
}

.portfolio-caption {
  text-align: center;
  padding: 5px 15px;
}

/* === Footer === */
.site-footer {
  margin: 0 auto;
}

.copyright {
  display: inline-block;
}

@media (min-width: 1024px) {
  .section,
  .site-footer {
    max-width: 1200px;
  }

  .section:not(:first-of-type) {
    margin-block: 15rem;
  }

  .title-box {
    margin-block: 0;
    text-align: center;
    transform: translateY(calc(50% - clamp(1.5rem, 2vw, 2.2rem)));
  }

  .portfolio,
  .services,
  .testimonials {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  .service-box {
    border: var(--border-width) dashed #ffffff;
    transform: skewX(-5deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }

    @keyframes flicker {
      0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
      20%, 24%, 55% { opacity: 0.3; }
    }
}
